.homeMain {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
}
.categoryBox {
  width: auto;
  height: 70px;
  display: flex;
  overflow: scroll;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar {
  display: none;
}
.category {
  height: 100%;
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  margin: 0 5px;
}
.category #categoryImage {
  max-height: 100%;
}
.bannerSlider {
  width: auto;
  height: 150px;
  margin: 10px 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}
.banner {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.banner img {
  height: 100%;
  width: 100%;
}

/* FEATURED PRODUCTS */
.homeFeaturedProductsBox {
  width: auto;
  height: 190px;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.featuredHeading {
  width: auto;
  height: 30px;
  padding: 5px;
  background-color: aqua;
  /* border-bottom: 1px solid black; */
}
.homeFeaturedProducts {
  display: flex;
  overflow: scroll;
}
.featuredProducts {
  height: 160px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: white;
}
.mayLikeProductBox {
  width: auto;
  height: auto;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.mayLikeProductsHeading {
  height: 30px;
  width: 100%;
  padding: 5px;
  font-weight: bold;
  background-color: aqua;
}
.mayLikeProducts {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.mayLikeProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
