.homeMain {
  width: 100%;
  height: 100vh;
  padding: 7px;
}
.bannerSlider {
  width: 100%;
  height: 150px;
  /* border: 1px solid black; */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.banner {
  width: 100%;
  height: 150px;
  /* border: 1px solid black; */
  background-color: cadetblue;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* .homeMain {
  width: 100%;
  height: 100vh;
}
.productCategories {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  align-items: center;
  width: 100%;
  height: 150px;
  margin: 20px 0 20px 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.category {
  min-width: 100px;
  height: 100px;
  border: 1px solid black;
} */
