.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 5px;
  background-color: aqua;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}
.leftNav {
  display: flex;
  align-items: center;
}
.burgerMenu_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
#header_icon {
  font-size: 18px;
}
.logo_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
}
.rightNav {
  display: flex;
  align-items: center;
}
.search_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.wish_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.cart_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.account_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
